# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock
*.g.dart
*.freezed.dart

# Melos
pubspec_overrides.yaml

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Generated
doc/api/
tests_reports/
